{% set elastic_search = pillar['logstash']['elastic_search_server'] -%}
# logstash confs have three parts:
# log 1) input 2) filter 3) output
# http://logstash.net/docs/1.1.9/configuration 
input {
  tcp {
    port => 5564
    type => "mysqlslowquery"
  }
  udp {
    port => 5564
    type => "mysqlslowquery"
  }
}

# mysql slow query log parsing
filter{
  # grab the message without prepended rsyslog cruft
  # timestamps are worthless anyway
  grok { 
    type => "mysqlslowquery"
    pattern => ".*mysql_slow:%{GREEDYDATA:uncrufted}"
  }
  # if groked okay, replace the message with the uncrufted message
  # and remove uncrufted field
  mutate {
    type => "mysqlslowquery"
    replace => ["@message", "%{uncrufted}"]
    exclude_tags => "_grokparsefailure"
    remove => ['uncrufted']
  }

  # combine individual lines into messages
  multiline {
    type => "mysqlslowquery"
    what => "previous"
    pattern => " # Time:"
    negate => true
  }

  # grab fields if the multiline worked okay
  grok { 
    type => "mysqlslowquery"
    tags => ["multiline"]
    patterns_dir => ["/etc/logstash/patterns/"]
    pattern => ["(?m)%{MYSQLQUERYSCHEMA}(.*)?%{MYSQLQUERYEXECTIME}(.*)?%{MYSQLQUERY}"]
  }

  # change query_time to a float field
  mutate{
    type => "mysqlslowquery"
    exclude_tags => "_grokparsefailure"    
    convert => ["query_time", "float"]
  }

  # the date rsyslog decided to check the file is not the timestamp
  date {
    type => "mysqlslowquery"
    exclude_tags => "_grokparsefailure"
    match => ["unixtime", "UNIX"]
    add_tag => ["dated"]
  }

  # get rid of date cruft 
  mutate{
    type => "mysqlslowquery"
    tags => ["dated"]
    remove => ["unixtime"]
    remove_tag => ["dated"]
  }

  # message is what shows up in kibana, so put the query there
  mutate {
    type => "mysqlslowquery"
    exclude_tags => "_grokparsefailure"
    replace => ["@message", "%{query}"]
    remove => ["query"]
    remove_tag => ["multiline"]
  }
  
}
output {
  elasticsearch {
    index => "syslog-%{+YYYY.MM.dd}"
    #run with elastic search in the same process or not
    embedded => false
    host => "{{elastic_search}}"
    type => "mysqlslowquery"
  }
  # for debugging
  #stdout { debug => true debug_format => json }
}
