
# of data that will get indexed into elastic search in a useful way.
# Rsyslog doesn't have any idea what it's talking to, but the 
# template set near the bottom of this config is pretty 
# logstash specific.  Modifications have been made to support 
# spooling to memory in the event that logstash is down/slow.
{%- set rsyslog_server = pillar['rsyslog']['rsyslog_server'] %}
{%- set roles = grains.get('roles', []) %}

{%- if 'web' in roles %}
# filter tcp connections from monitoring server
:msg, contains,  "\"-\" 400 0 \"-\" \"-\"" ~
{%- endif %}

#  /etc/rsyslog.conf	Configuration file for rsyslog.
#
#			For more information see
#			/usr/share/doc/rsyslog-doc/html/rsyslog_conf.html
#
#  Default logging rules can be found in /etc/rsyslog.d/50-default.conf


#################
#### MODULES ####
#################

#$ModLoad immark  # provides --MARK-- message capability
$ModLoad imuxsock # read from local syslog messages...really descriptive
$ModLoad imklog	  # read from kernel log 
$ModLoad imfile   # read from files

# Read from files
{%- for watch in pillar.get('rsyslog', {}).get('watch_log_files', []) %}
$InputFileName {{ watch['file'] }}
$InputFileTag {{ watch['tag'] }}
$InputFileStateFile {{ watch['tag'] }}
$InputFileSeverity {{ watch['severity'] }}
$InputFileFacility {{ watch['facility'] }}
# indented lines are part of same log
# $InputFileReadMode 1
$InputRunFileMonitor
{%- endfor %}
$InputFilePollInterval 10

# Load RELP output module to send via RELP protocol
#$ModLoad omrelp

###########################
#### GLOBAL DIRECTIVES ####
###########################

#
# Use traditional timestamp format.
# To enable high precision timestamps, comment out the following line.
#
#$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# Filter duplicated messages
$RepeatedMsgReduction on

#
# Set the default permissions for all log files.
#
$FileOwner syslog
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022
$PrivDropToUser syslog
$PrivDropToGroup adm

#
# Where to place spool files
#
$WorkDirectory /var/spool/rsyslog

#Provides UDP forwarding. The IP is the server's IP address
#*.* @{{rsyslog_server}}:5544

# Formatting log output
$template LOGSTASH,"<%PRI%>%timegenerated:::date-rfc3164-buggyday% %HOSTNAME% %APP-NAME%: %msg:::drop-last-lf%\n"
$ActionForwardDefaultTemplate LOGSTASH

# Configuration of disk logging contengency
$ActionQueueType LinkedList            # use asynchronous processing
$ActionQueueFileName rsyslog_spillage  # set file name, also enables disk mode
$ActionResumeRetryCount -1             # infinite retries on insert failure
$ActionQueueSaveOnShutdown on          # save in-memory data if rsyslog shuts down

# Let's forward specific logs to separate ports for
# more fine-grained logstash parsing
# the & ~ line ends processing by subsequent selectors
{%- for watch in pillar.get('rsyslog', {}).get('watch_log_files', []) %}
:syslogtag, isequal, "{{ watch['tag'] }}" @@{{rsyslog_server}}:{{ watch['port'] }}
& ~
{%- endfor %}

# Provides TCP forwarding.
*.* @@{{rsyslog_server}}:5544

# forward messages to the remote server "myserv" on
# port 2514 via RELP format
#*.* :omrelp:{{rsyslog_server}}:5544;LOGSTASH


# Include all config files in /etc/rsyslog.d/
#
$IncludeConfig /etc/rsyslog.d/*.conf
